*{
    margin: 0%;
    padding: 0%;
}

nav> ul {
    list-style-type: none;
    margin: 10px;
    list-style-type: none;
    overflow: hidden;
    
  }
  
  li {
    float: left;
    margin: 10px;
    font-family: 'Fira Mono', monospace;
    font-size: 100%;
}

  body{
    background-image: url("bg_starwars4.jpg");
    background-size: 180%;
    background-repeat: no-repeat;
    background-position: left center;
    background-attachment: fixed;
}
  li a {
    display: block;
    padding: 8px;
    color:coral;
}
    a:visited, a{
    color: rgb(20, 20, 20);
}
  a:hover{
    color:coral;
}

  h1{
    color:rgb(20, 20, 20);
    font-family: 'Fira Mono', monospace;
    padding-top: 5%;
    font-size: 3em;
    padding-left: 50px;
    width: 65%;
    animation: color-change 5s infinite;
}

img{
  width: 35vw;
  height: 45vh;
  padding-top: 50px;
  padding-left: 50px;
  border-radius: 25px;
}
main{
  width: 60%;
}
p,h2{
  padding-left: 50px;
  color:rgb(20, 20, 20);
  font-family: 'Fira Mono', monospace;
}

iframe{
  padding-left: 50px;
}