*{
    margin: 0%;
    padding: 0%;
}

nav> ul {
    list-style-type: none;
    margin: 10px;
    list-style-type: none;
    overflow: hidden;
    
  }
  
  li {
    float: left;
    margin: 10px;
    font-family: 'Fira Mono', monospace;
    font-size: 100%;
}

  body{
    background-image: url("bg_starwars5.jpg");
    background-size: 90%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
}
  li a {
    display: block;
    padding: 8px;
    color:coral;
}
    a:visited, a{
    color: rgb(20, 20, 20);
}
  a:hover{
    color:coral;
}

  h1{
    color:rgb(20, 20, 20);
    font-family: 'Fira Mono', monospace;
    padding-top: 5%;
    font-size: 3em;
    padding-left: 50px;
    width: 70%;
    animation: color-change 5s infinite;
}
img{
  width: 15vw;
  height: 20vh;
  padding-top: 50px;
  padding-left: 50px;
  border-radius: 25px;
}
main{
  width: 60%;
}
p,h2{
  padding-left: 50px;
  color:rgb(20, 20, 20);
  font-family: 'Fira Mono', monospace;
}
div{
  color: white;
}
hr{
  color: white;
  margin-left:50px ;
}
.shirt{
  width: 50%;
  height: 50%;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 15px;
}